@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');


.login-form {
    font-family: "Sans Serif Pro", sans-serif;
    width: 50%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

body {
    margin: auto;
}

.login-form-handler {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}

.login-form-handler div {
    display: flex;
    margin: .65rem;
    flex-direction: column;
}

.login-form-handler div label {
    margin: 10px;
    font-family: "Montserrat", sans-serif;
}

.login-button {
    /* order: -2; */
    width: 150px;
    background-color: #393E46;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 5px;
    outline: none;
    padding: 10px 16px;
    align-self: left;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.login-button button {
    font-family: "Monsterrat", sans-serif;
}

.login-button:hover,
.login-button:focus {
    background-color: #000000;
}
